@import '../node_modules/bootstrap/scss/bootstrap.scss';

header{
    background-color: black;

    ul{
        margin-bottom: 0px;

        a{
            text-decoration: none;
            color: white;
        }

        a:hover{
            font-weight: 600;
        }
    }

    
}

body{
    background: rgb(111,0,185);
    background: radial-gradient(circle, rgba(111,0,185,1) 19%, rgba(147,56,176,1) 61%);
}