@import '../node_modules/bootstrap/scss/bootstrap.scss';

header{
    background-color: black;

    ul{
        margin-bottom: 0px;
        
        a:hover{
            font-weight: 600;
        }
    }

    
}
